<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Success to put data into Database</title>
</head>
<body>
    <h1>Good job! You have put {{ sheet_title }} into database. Thank you.</h1>

 <form  action= "{% url 'googleSheetIntoDB:index' %}" method="get">
                        {% csrf_token %}
                        <button type="submit" class="save btn btn-default">Home Page</button>
    </form>
</body>
</html>