<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">   -->




<!DOCTYPE html>

 {% load staticfiles %}

 <link rel="stylesheet" type="text/css" href="{% static 'googleSheetIntoDB/style.css' %}" />
<link rel="stylesheet" href="build.css">

<html lang="en">
<script language="JavaScript">
function select_all(source) {
  select_checkboxes = document.getElementsByName('import_checks');
  for(var i=0, n=select_checkboxes.length;i<n;i++) {
    select_checkboxes[i].checked = source.checked;
  }
}

function toggle(source) {
  checkboxes = document.getElementsByName('refresh_checks');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}


</script>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Google Sheet Choice</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
  </head>
  <body>
  <div class="container">

      <div>
          <form  action= "{% url 'googleSheetIntoDB:index' %}" method="get">
                        {% csrf_token %}
                        <button type="submit" class="save btn btn-success">Home Page</button>
            </form>
      </div>
    {% if google_sheet_list %}

    <ul>

        <div>
        <h3>The google sheet list that shared with your client email in download json file for importing and refreshing. </h3>
            <table>
                    <thead>
                    <tr><td>Sheet_title</td><td>Imported_status</td><td>Import_date</td><td>Import_data</td><td>Refresh_data</td><td>Delete_data</td></tr>
                    <tr><td></td><td></td><td></td><td><input type="checkbox" onclick="select_all(this)" /> Import All<br/></td><td><input type="checkbox" onClick="toggle(this)" /> Refresh All<br/></td></tr>
                    </thead>
                        <form  action= "{% url 'googleSheetIntoDB:choose_to_refresh' %}" method="post">
                            {% csrf_token %}
                        {% for question in google_sheet_list %}
                        <tr>
                            <td><a href="/googleSheetIntoDB/detail_view/?detail_title={{ question.title }}&detail_id={{ question.id }}">{{ question.title }}</a></td>
                            {% if question.imported_status == 'F' %}

                            <td align="middle"><div class="checkbox checkbox-success"><input name= "imported_status" type="checkbox" value="{{ question.id }}" disabled></div></td>
                            {% else %}
                            <td align="middle"><div class="checkbox checkbox-success"><input name="imported_status" type="checkbox" checked disabled></div></td>
                            {% endif%}
                            <td align="middle">{{ question.imported_date }}</td>
                            {% if question.import_data == 'F' %}

                            <td align="middle"><div class="checkbox checkbox-success"><input hidden name="import_checks" type="checkbox" disabled></div></td>
                            {% else %}
                            <td align="middle"><div class="checkbox checkbox-success"><input name="import_checks" type="checkbox" value="{{question.id}}" checked></div></td>

                            {% endif%}

                            {% if question.refresh_data == 'F' %}

                            <td align="middle"><div class="checkbox checkbox-success"><input hidden name="refresh_checks" type="checkbox" disabled></div></td>
                            {% else %}
                            <td align="middle"><div class="checkbox checkbox-success"><input name="refresh_checks" type="checkbox" value="{{ question.id }}" ></div></td>

                            {% endif%}

                            {% if question.refresh_data == 'F' %}
                            <td align="middle"><div class="checkbox checkbox-success"><input hidden name="delete_checks" type="checkbox" disabled></div></td>
                            {% else %}
                            <td align="middle"><div class="checkbox checkbox-success"><input name="delete_checks" type="checkbox" value="{{ question.id }}" ></div></td>

                            {% endif%}

                        </tr>

                        {% endfor%}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><button type="submit" class="save btn btn-info btn-sm" name="sheet" value="import_data" onclick="return confirm('Are you sure you want to import these items?');"> Import Data </button></td>
                                <td>
                                   <button type="submit" class="save btn btn-info btn-sm" name="sheet" value="refresh_data" onclick="return confirm('Are you sure you want to refresh these items?');"> Refresh Data </button>
                                </td>
                                <td><button type="submit" class="save btn btn-info btn-sm" name="sheet" value="delete_data" onclick="return confirm('Are you sure you want to delete these items?');"> Delete Data </button>
                            </form>
                                </td>

                            </tr>
            </table>
        </div>
    </ul>

    <ul>
        <h3>The google sheet list that is already put into the database table:</h3>

            {% for item in titles_in_db %}
                <li><a>{{ item.title }}</a></li>

            {% endfor %}
    </ul>
    {% else %}

    <ul>
        <h2>No sheets are available to put into the database table.</h2>
        <h3>The google sheets that are already put into the database table:</h3>

            {% for item in titles_in_db %}
                <li><a>{{ item.title }}</a></li>

            {% endfor %}
    </ul>
    {% endif %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </div>
  </body>
</html>