<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Success to put data into Database</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
        {% if refresh_list %}
        <h1>Good job! You have refreshed the refresh_list:</h1>
        <h3>{{ refresh_list }}</h3>
        <h3>trial_year:{{ trial_year }}</h3>
        <h1>into database. Thank you.</h1>
         {% endif %}
        {% if import_list %}
        <h1>Good job! You have imported the import_list: </h1>
        <h3>{{ import_list }}  </h3>
        <h3>trial_year:{{ trial_year }} </h3>
        <h1>into database. Thank you.</h1>
        {% endif %}
        {% if delete_list %}
        {% endif %}
        {% if delete_list %}
        <h1>Good job! You have deleted the delete_list:</h1>
        <h3>{{ delete_list }}</h3>
        <h3>trial_year:{{ trial_year }} </h3>
        <h1>from database. Thank you.</h1>
         {% endif %}

 <form  action= "{% url 'googleSheetIntoDB:index' %}" method="get">
                        {% csrf_token %}
                        <button type="submit" class="save btn btn-info">Home Page</button>
    </form>
</body>
</html>