li a {
    color: orange;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 2em; /* 40px/16 = 2.5em */;
    alignment: center;
}
p{
    color: red;
    font-family:"Times New Roman";
    font-size: 1em;
    }

h1{
    color: orange;
    font-family: "Comic Sans MS", cursive, sans-serif;
    alignment: center;
}
h2{
    color: orange;
    font-family: "Comic Sans MS", cursive, sans-serif;
    alignment: center;
}
h3 {
    color: orange;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1em;
    alignment: center;
}
body {
    background: white url("images/background.jpg") repeat left bottom;
    background-color: linen;
    font-family: "Times New Roman", Times, serif;
}
table {

    color: green;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 2em;
}